Label {
  text-align: center;
  border-radius: 36;
}

.btn-cadastro {
  background-color: transparent;
  border: none;
  color: #fff; /* Escolha a cor que desejar para o texto */
  text-decoration: underline; /* Adiciona o sublinhado */
  font-size: 16px; /* Ajuste o tamanho do texto conforme necessário */
  padding: 0;
}

.container {
  background-color: #3c495e;
  padding: 20;
}

.btn-login {
  padding: 1;
  background-color: #063275;
  font-size: 18;
  border-radius: 3;
  color: white;
}

.label-title{
 text-align: left;
}