<ActionBar title="Login"></ActionBar>

<GridLayout class="container">
  <StackLayout class="text-white m-y-auto" [formGroup]="form">
    <Label textWrap="true" fontSize="28" class="p-20"
      >Bem-vindo!{{ "\n" }}Faça login para continuar</Label
    >

    <TextField
      placeholder="E-mail"
      backgroundColor="#ffffff"
      formControlName="email"
      placeholderColor="#a0a0a0"
      padding="10"
      cornerRadius="8"
    ></TextField>
    @if(email.invalid && email.touched){
    <label>E-mail Inválido</label>
    }

    <TextField
      placeholder="Senha"
      secure="true"
      backgroundColor="#ffffff"
      formControlName="senha"
      textColor="#3c495e"
      placeholderColor="#a0a0a0"
      padding="10"
      cornerRadius="8"
    ></TextField>
    @if(senha.invalid && senha.touched){
    <label>Senha Inválida</label>
    }

    <Button
      class="btn-login"
      text="Login"
      (tap)="submit()"
      horizontalOptions="FillAndExpand"
    ></Button>

    <Button
      text="Esqueceu sua senha?"
      class="esqueci"
      horizontalOptions="Center"
    ></Button>
  </StackLayout>
</GridLayout>
