<ActionBar title="Cadastro"></ActionBar>

<GridLayout class="container">
  <StackLayout class="text-white m-y-auto" [formGroup]="form">

    <Image src="~/assets/img/logo.png" width="200"></Image>

    <Label textWrap="true" fontSize="28" class="p-20"
      >Cadastre-se</Label
    >

    <TextField
    placeholder="Nome"
    backgroundColor="#ffffff"
    formControlName="nome"
    placeholderColor="#a0a0a0"
    padding="10"
    cornerRadius="8"
    hint="Nome"
  ></TextField>
  @if(nome.invalid && nome.touched){
  <label>Nome Inválido</label>
  }

    <TextField
      placeholder="E-mail"
      backgroundColor="#ffffff"
      formControlName="email"
      placeholderColor="#a0a0a0"
      padding="10"
      cornerRadius="8"
      hint="E-mail"
    ></TextField>
    @if(email.invalid && email.touched){
    <label>E-mail Inválido</label>
    }

    <TextField
    placeholder="Telefone"
    backgroundColor="#ffffff"
    formControlName="telefone"
    placeholderColor="#a0a0a0"
    padding="10"
    cornerRadius="8"
    hint="Telefone"
  ></TextField>
  @if(telefone.invalid && telefone.touched){
  <label>Telefone Inválido</label>
  }

    <TextField
      placeholder="Senha"
      secure="true"
      backgroundColor="#ffffff"
      formControlName="senha"
      textColor="#3c495e"
      placeholderColor="#000"
      padding="10"
      cornerRadius="8"
      hint="Senha"
    ></TextField>
    @if(senha.invalid && senha.touched){
    <label>Senha Inválida</label>
    }

    <Button
      class="btn-login"
      text="Entrar"
      (tap)="submit()"
      horizontalOptions="FillAndExpand"
    ></Button>

  </StackLayout>
</GridLayout>
