@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 25;
}

.text-white {
  color: white;
}

ActionBar{
  background-color: rgb(10, 7, 63);
  display: block;
  color: white;
}


