<ActionBar title="Home"></ActionBar>

<GridLayout class="container">
  <StackLayout>
    <Image src="~/assets/img/logo.png" class="action-left" width="80"></Image>
    <Label textWrap="true" fontSize="24" class="first-title"
      >Visual Intelligence</Label
    >

    <StackLayout class="box-menu">
      <Label textWrap="true" fontSize="28" class="second-title">
        Escolha uma opção
      </Label>
      <button (tap)="teste()" class="option">Ler Objetos</button>
      <button class="option">Histórico de Leituras</button>
      <button class="option">Tutorial</button>
      <button class="option">Sair</button>
    </StackLayout>
    

    <!-- <GridLayout rows="auto" columns="auto">
      <Image src="~/assets/img/pessoas.png"></Image>
      <ng-container *ngIf="faces?.length">
        <StackLayout *ngFor="let face of faces"
          [translateX]="face.bounds.origin.x / screenScale"
          [translateY]="face.bounds.origin.y / screenScale"
          [width]="face.bounds.size.width / screenScale"
          [height]="face.bounds.size.height / screenScale"
          backgroundColor="red"
          verticalAlignment="top"
          horizontalAlignment="left"
        ></StackLayout>
      </ng-container>
    </GridLayout> -->

    <!-- <button (tap)="teste()">Teste</button>
    <GridLayout rows="auto" columns="auto">
      <Image src="~/assets/img/messi.jpg"></Image>
      @if(face) {

      <StackLayout
        [translateX]="face.bounds.origin.x / screenScale"
        [translateY]="face.bounds.origin.y / screenScale"
        [width]="face.bounds.size.width / screenScale"
        [height]="face.bounds.size.height / screenScale"
        backgroundColor="red"
        verticalAlignment="top"
        horizontalAlignment="left"
      ></StackLayout>
      }
    </GridLayout> -->
  </StackLayout>
</GridLayout>
